@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat');

body{
  font-family: 'Walter Turncoat', cursive;
  font-size: 1.5em;
  background-size: 1em 1em;
  background-image: radial-gradient(circle,rgba(0,50,255,0.2) 1px,rgba(0,0,0, 0) 2px); 
  background-position:.3em .62em;
}
.nav  ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #333;
    position:fixed;
    top: 0;
    width:100%;
}
.nav  li {
    float:left;
    border-right: 1px solid #bbb
}

.nav  li a {
    display: block;
    padding: 8px;
    color:white;
    padding:14px 16p;
    text-decoration: none;
    font-size: x-large;
}

.nav  li a:hove {
    background-color: #111;
}
.nav  li:last-child{
    border-right:none;
}

.active{
    background-color: #4CAF50;
}



ol {
    list-style: none;
    counter-reset: steps;
}

ol li {
    counter-increment: steps;
}
ol li::before{
    content: counter(steps);
    margin-right: 0.5rem;
    background: black;
    color:white;
    width:1.2em;
    border-radius:50%;
    display:inline-grid;
    place-items: center;
    line-height: 1.2em;
}

ol ol li::before{
    background: #ff6f00;
}